#root {
  max-width: 1280px;
  margin: 0;
}
*{
  margin:0;
}
.dark-mode {
  background-color: black;
  min-height: 100vh;
  min-width: 100vw;
  color: white;
}
.light-mode {
  background-color: white;
  min-height: 100vh;
  min-width: 100vw;
}